@import "mixins";
@import "variables";
@import "spinner";

.container--main {
  padding: 0 $xsmall_padding $xsmall_padding $xsmall_padding;
  max-width: 560px;
  @media #{$small_and-down} {
    margin-top: $xsmall_margin;
  }
}
#designSearchBox {
  background-color: $ss-light-color;
  border-radius: 2px;
  width: 100%;
  .searchbox {
    padding: $small_padding;
    text-align: center;
  }
  .resultsbox {
    padding: $xsmall_padding;
    .resultsbox__no-results {
      text-align: center;
      p {
        font-weight: $normal;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
        h4 {
          margin: 0 0 $xsmall_margin $xsmall_margin;
          font-size: $xsmall_size;
          font-weight: $normal;
        }
        .resultsbox__header {
          padding: $xsmall_padding;
          background-color: $ss-color;
          h4 {
            margin: 0;
            font-weight: $normal;
            font-size: 17px;
            color: $white;
          }
        }
        .resultsbox__item {
          text-align: center;
          background-color: $white;
          margin-bottom: $default_margin;
          padding: $small_padding;
          img {
            width: 150px;
          }
          .item__details {
            .item__price {
              padding: $default_padding 0;
              span {
                font-size: $small_size;
                font-weight: $medium;
              }
            }
            .item__voting {

            }
          }
        }
      }
    }
  }
}
.ss-search-input {
  border: 1px solid #b3b3b3;
  background-color: $white;
  border-radius: 2px;
  padding: 0 .5em;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
  height: 36px;
  max-width: 300px;
  min-width: 150px;
  width: 60%;
  font-size: $xxsmall_size;
}
.ss-btn {
  color: #000;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  margin: 0 0 0 -6px;
  max-width: 60%;
  cursor: pointer;
  border: 0;
}
.ss-btn.ss-btn--search {
  height: 36px;
  background-color: $ss-color;
  border-color: $ss-color;
  border-radius: 0 2px 2px 0;
  color: $white;
  font-weight: $regular;
  font-size: $xxsmall_size;
}
.ss-btn--voting {
  width: 110px;
  height: 30px;
  border-color: $ss-color;
  font-weight: $regular;
  font-size: 12px;
  border-radius: 0 2px 2px 0;
  color: $white;
  @include transition(all 0.2s);
  &:hover {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
  }
}
.ss-btn.ss-btn--dislike {
  background-color: #DA000B;
  margin-left: $xsmall_margin;
  @media #{$small_and-down} {
    margin-left: 5px;
  }
}
.ss-btn.ss-btn--like {
  background-color: #3866C2;
}
.ss-btn.ss-btn--finish {
  height: 40px;
  background-color: $ss-color;
  border-color: $ss-color;
  border-radius: 0 2px 2px 0;
  color: $white;
  font-weight: $regular;
  font-size: $xxsmall_size;
  @include transition(all 0.2s);
  &:hover {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
  }
}
.voting-btn {
  //display: inline-block;
}
.ss-btn.ss-btn--disabled {
  background-color: #8e8e8e;
  &:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.finishVoting {
  text-align: center;
  padding: $small_padding;
}
.resultsbox_summary {
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
  .summary__header {
    background-color: $ss-color;
    border-color: $ss-color;
    color: $white;
    padding: 10px;
    border-radius: 2px 2px 0 0;
  }
  .summary__item {
    padding: 10px;
    background-color: $white;
    font-size: $xxsmall_size;
  }
}
.render-design.ng-move,
.render-design.ng-enter,
.render-design.ng-leave {
  transition:all linear 0.5s;
}
.render-design.ng-leave.ng-leave-active,
.render-design.ng-move,
.render-design.ng-enter {
  opacity: 0;
}
.render-design.ng-leave,
.render-design.ng-move.ng-move-active,
.render-design.ng-enter.ng-enter-active {
  opacity:1;
}